<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fa style  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <!-- bs style  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- my style  -->
    <link rel="stylesheet" href="style/style.css">
    <title>Mail</title>
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-cont">
                    <img class="logo" :src="logoImage">
                </div>

                <div class="new-task">
                    <input type="text" placeholder="new Task" v-model="newTask" @keyup.enter="addTask">
                    <button class="btn btn-primary btn-block" id="btn-new-task" @click="addTask">INVIA</button>
                    <div v-if="error" class="error">
                        <span style="color:red">Inserire una task di almeno 5 caratteri</span>
                    </div>
                </div>

                <div class="task-container">
                    <ul v-if="tasks.length > 0">
                        <li class="task-item" v-for="(task,index) in tasks">
                            {{task.text}}
                            <i class="fa-solid fa-xmark" @click="deleteTask(index)"></i>
                        </li>
                    </ul>
                    <h2 v-else>Non ci sono task</h2>
                </div>
            </div>
        </div>        
    </div>

    <!-- bs script  -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    <!-- my script  -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script type="text/javascript" src="script/script.js"></script>
</body>
</html>