* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {

    font-family: 'Roboto', sans-serif;
}

img {

    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: 0 30%;
}

div .logo-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

div .logo-cont .logo {
    width: 165px;
    height: 80px;
    object-fit: cover;
}


div .new-task{
    margin-top: 20px;
    text-align: center;
}

div .task-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

div .task-container ul {
    margin-left: 0;
    padding-left: 0;
}

ul li.task-item{
    margin-top: 20px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li i.fa-xmark{
    cursor: pointer;
}

